.bingo_container {
    margin: auto;
    flex-wrap: wrap;
    max-width: 700px;
    min-width: 700px;
}

@media only screen and (max-width: 1200px) {
    .bingo_container {
        max-width: 600px;
        min-width: 600px;
    }
}

@media only screen and (max-width: 1000px) {
    .bingo_container {
        max-width: 500px;
        min-width: 500px;
    }
}

@media only screen and (max-width: 769px) {
    .bingo_container {
        max-width: 400px;
        min-width: 400px;
    }
}

@media only screen and (max-width: 481px) {
    .bingo_container {
        max-width: 350px;
        min-width: 350px;
    }
}

@media only screen and (max-width: 320px) {
    .bingo_container {
        max-width: 300px;
        min-width: 300px;
    }
}